.contact-major-content{
    padding-top: 5px;
    padding-bottom: 20px;
}

.contact-info-container{
    padding-top: 30px;
    text-align: right;
}

.call-actions-container{
    padding-bottom: 20px;
}

@media(max-width: 1200px){
    .contact-info-container{
        padding-top: 30px;
        text-align: center;
    }
}

.btn-phone {
    color: #6e124f; 
    background-color: goldenrod;
    border: none;
    padding: 10px;
    font-size: 22px;
    font-weight: 500px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-shadow: none;
    transition: box-shadow 0.2s, text-shadow 0.2s;
}

.btn-phone:hover{
    box-shadow: none;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.2s, text-shadow 0.2s;
    border: none;

}
