.contact-major-content{
    padding-top: 5px;
    padding-bottom: 20px;
}

.contact-info-container{
    padding-top: 30px;
    text-align: right;
}

.call-actions-container{
    padding-bottom: 20px;
}

@media(max-width: 1200px){
    .contact-info-container{
        padding-top: 30px;
        text-align: center;
    }
}