.contact-major-content{
    padding-top: 5px;
    padding-bottom: 20px;
}

.contact-info-container{
    padding-top: 30px;
    text-align: right;
    transition: padding 0.4s;
}

.call-actions-container{
    padding-bottom: 20px;
}

.address-container{
    margin-top: 10px;
    transition: margin 0.4s;
}

@media(max-width:576px){
    .address-container{
        margin-top: 20px;
        transition: margin 0.4s;
    }
}

@media(max-width: 1200px){
    .contact-info-container{
        padding-top: 30px;
        text-align: center;
        transition: padding 0.4s;
    }
}

.footer-margin{
    margin-top: 200px;
    transition: margin 0.6s;
}

@media(max-width:768px){
    .footer-margin{
        margin-top: 0px;
        transition: margin 0.6s;
    }
}
