.feature-box{
    background-color: #a54d88;
    padding: 20px;
    border-radius: 1px 10px 10px 10px;

    transition: padding 0.4s;
}

.feature-box:hover{
    padding: 30px;
    transition: padding 0.4s;
}

.responsive-display{
    display: inline-block;
}

@media(min-width: 992px) and (max-width: 1200px){
    .feature-box:hover{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: padding 0.4s, color 0.4s;
    }
    
    .responsive-display{
        display: block;
    }
}

.feature-container{
    padding-bottom: 10px;
}