body{
    background-color: #f5f3f3;
}

.feature-box{
    background-color: #a54d88;
    padding: 20px;
    border-radius: 1px 10px 10px 10px;

    transition: padding 0.4s;
}

.feature-box:hover{
    padding: 30px;
    transition: padding 0.4s;
}

.feature-container{
    padding-bottom: 10px;
}

.features-outer-container{
    padding-bottom: 40px;
}

.list-container:hover .list-container > p > mark{
    font-size: 25px;
    transition: font-size 0.4s;
}

@media(min-width: 992px) and (max-width: 1200px){
    .feature-box:hover{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: padding 0.4s;
    }
}

@media(max-width: 992px){
    .feature-box:hover{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.list-container{
    padding-bottom: 10px;
}

.list-container > p > mark{
    background-color:transparent;
    font-size: 23px;
    color: goldenrod;
}

.list-title-container{
    border-bottom: 2px solid #a54d88;
    color: #a54d88;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    transition: margin 0.4s;
}

.list-title-container:hover{
    margin-left: 30%;
    margin-right: 30%;
    transition: margin 0.4s;
}

.list-area-container{
    padding-bottom: 30px;
}

@media(max-width: 768px){
    .list-title-container{
        margin-right: 0;
        margin-left: 0;
        transition: margin 0.4s;
    }

    .list-title-container:hover{
        margin-left: 0;
        margin-right: 0;
    }
}

