body{
    background-color: #e7e5e5;
}

.secondary-content-padding{
    padding-top: 0.5%;
    padding-left: 20%;
    padding-right: 20%;
    transition: padding 0.6s;
}

@media(max-width:576px){
    .secondary-content-padding{
        padding-left: 3%;
        padding-right: 3%;
        transition: padding 0.6s;
    }
}


.carousel .item{
    max-height: 400px;
}

.center-cropped {
    height: 100%;
}

.font-home-content1{
    color: #494847;
    font-size: 17px;
}

.font-home-content1 > mark{
    color: #383838;
    font-weight: bold;
    font-size: 17px;
    background: transparent;
}

.font-home-content2{
    color: #575656;
    font-size: 20px;
}

.main-content-padding{
    padding-top: 30px;
    transition: padding 0.6s;
}

.content-text2{
    text-align: right!important;
    transition: text-align 0.6s;
}

.content-text{
    text-align: left;
    transition: text-align 0.6s;
}


@media(max-width: 992px) {
    .main-content-padding{
        padding-top: 10px;
        transition: padding 0.6s;
    }

    .content-text{
        text-align: center;
        transition: text-align 0.6s;
    }

    .content-text2{
        text-align: center!important;
        transition: text-align 0.6s;
    }
}

.main-content-container{
    padding-top: 20px;
}

.secondary-content-container{
    padding-bottom: 10px;
}

.main-images-container{
    padding-top: 40px;
}

.card{
    padding-top: 0px;
    padding-bottom: 5px;
    background-color: #e7e5e5;
}

.img-text-block{
    padding-top: 7px;
}

.btn-primary{
    padding: 10px!important;
    font-size: 17px;
    border: none;
}

.footer-margin{
    margin-top: 20px;
    transition: margin 0.6s;
}

@media(max-width:768px){
    .footer-margin{
        margin-top: 0px;
        transition: margin 0.6s;
    }
}

.content-spacing-1{
    margin-bottom: 7px;
}