#primaryAccentBackground{
    background-color: #6e124f!important;
}

.display-1-bold{
    font-size: 45px;
    font-weight: bold;
}

.display-1{
    font-size: 45px;
}
.display-1-5{
    font-size: 35px;
}
.display-2{
    font-size: 30px;
}
.display-3{
    font-size: 25px;
}

.display-4{
    font-size: 20px;
}

.display-5{
    font-size: 17;
}

.display-1-5-responsive{
    font-size: 35px;
    transition: font-size 0.4s;
}

.secondary-content-padding{
    padding-top: 0.5%;
    padding-left: 20%;
    padding-right: 20%;
    transition: padding 0.4s;
}

@media(max-width:576px){
    .display-1-5-responsive{
        font-size: 30px;
        transition: font-size 0.4s;
    }

    .secondary-content-padding{
        padding-left: 3%;
        padding-right: 3%;
        transition: padding 0.4s;
    }
}

.font-gold{
    color: rgb(255, 179, 38);
}

.font-lightGrey{
    color: whitesmoke;
}

.font-bold{
    font-weight: bold;
}

.font-purple{
    color: #6e124f;
}

.font-grey{
    color: #383838;
}

#supportTitle{
    color: white;
}

.nav-tabs.nav-justified>li>a{
    border-bottom: none!important;
    border-radius: none!important;
}
.nav > .nav-item > a.navigationItem:hover,
.nav > .nav-item > a.navigationItem:focus,
.nav-tabs>li.active>a {
    color: rgb(209, 175, 24)!important;
    background-color: #6e124f!important;
    border: none!important;
    font-size: 25px!important;

    transition: color 0.4s, font-size 0.4s;
}

.nav > .active{
    color: rgb(209, 175, 24)!important;
    background-color: #6e124f!important;
    border: none!important;
    font-size: 25px!important;

    transition: color 0.4s, font-size 0.4s;
}

.nav > .nav-item:hover,
.nav > .nav-item:focus{
    color: rgb(209, 175, 24)!important;
    background-color: #6e124f!important;
    border: none!important;
    font-size: 25px!important;

    transition: color 0.4s, font-size 0.4s;
}

a.navigationItem{
    color: white!important;
    font-size: 21px !important;
    transition: color 0.4s, font-size 0.4s;
}

a.phoneNumber{
    color: white;
}

/*for smaller sizes*/
.topBarSpacing{
    height: 0px;
}

.topPhoneSize{
    font-size: 20px;
    transition: font-size 0.4s;
}

.spacingDiv1{
    height: 0px;
}

/*is used generally*/
@media(min-width: 576px) {
    .topPhoneSize{
        font-size: 35px;
        transition: font-size 0.4s;

    }
}

.top-logo-align{
    text-align: center;
}

@media(min-width: 1200px){
    .topBarSpacing{
        height: 15px;
        transition: height 0.4s;
    }
    .spacingDiv1{
        height: 15px;
    }
    .top-logo-align{
        text-align: left;
    }
}

.carousel .item{
    max-height: 400px;
}

.center-cropped {
    height: 100%;
}

.branding-text{
    font-size: 35px!important;
    color: #6e124f!important;
}

.font-home-content1{
    color: #494847;
}

.font-home-content1 > mark{
    color: #383838;
    font-weight: bold;
    font-size: 15px;
    background: transparent;
}

.font-home-content2{
    color: #575656;
    font-size: 20px;
}

.mainContentSpacer{
    height: 15px;
}

.content-text2{
    text-align: right!important;
}

@media(max-width: 992px) {
    .mainContentSpacer{
        height: 5px;
    }

    .content-text{
        text-align: center;
    }

    .content-text2{
        text-align: center!important;
    }
}

.main-content-container{
    padding-top: 20px;
}

.secondary-content-container{
    padding-bottom: 10px;
}

.main-images-container{
    padding-top: 40px;
}

.hz-divider-major{
    border: 0.5px solid #9e9e9e;
    width: 50%;
    display: inline-block;
}

.hz-divider-minor{
    border: 0.3px solid #c7b6c1;
    width: 20%;
}

.card{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fcf7fa;
}
.text-block{
    padding-top: 10px;
}

.font-home-image-subtext{
    color: #535353;
}

.nav-tabs.nav-justified>li>a{
    border-bottom: none!important;
    border-radius: none!important;
}

.footer-nav > .nav-item > a.navigationItem-footer:hover,
.footer-nav > .nav-item > a.navigationItem-footer:focus, 
.footer-nav > .nav-item > a.nav-footer-active{
    color: rgb(209, 175, 24)!important;
    background-color: #6e124f!important;
    border: 0px solid #6e124f!important;
    font-size: 20px!important;

    transition: color 0.2s, font-size 0.2s;
}

.footer-nav > .nav-item:hover,
.footer-nav > .nav-item:focus {
    color: rgb(209, 175, 24)!important;
    background-color: #6e124f!important;
    font-size: 20px!important;

    transition: color 0.2s, font-size 0.2s;
}

.nav-tabs{
    border: 0px solid #6e124f!important;
}

a.navigationItem-footer{
    color: rgb(235, 235, 235)!important;
    font-size: 18px !important;
    transition: color 0.2s, font-size 0.2s;
}

@media(max-width:576px){
    a.navigationItem-footer, a.nav-footer-active{
        font-size: 14px !important;
        transition: font-size 0.2s;
    }

    .footer-nav > .nav-item > a.navigationItem-footer:hover,
    .footer-nav > .nav-item > a.navigationItem-footer:focus, 
    .footer-nav > .nav-item > a.nav-footer-active{
        color: rgb(209, 175, 24)!important;
        background-color: #6e124f!important;
        border: 0px solid #6e124f!important;
        font-size: 16px!important;

        transition: color 0.2s, font-size 0.2s;
    }

    .footer-nav > .nav-item:hover,
    .footer-nav > .nav-item:focus {
        color: rgb(209, 175, 24)!important;
        background-color: #6e124f!important;
        font-size: 16px!important;

        transition: color 0.2s, font-size 0.2s;
    }
}

.title-nav-alignment-padding{
    padding-left: 15px;
}

.primary-footer-padding{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: -10px;
    padding-left: -10px;
}

.bottom-nav-container{
    text-align: center;
}

.footer-phone-container{
    text-align: center;
}

.footer-nav{
    float: none!important;
    margin: 0 auto!important;
    display: table;
    table-layout: fixed;
}

@media(min-width: 1200px){
    .bottom-nav-container{
        text-align: left;
    }
    .footer-phone-container{
        text-align: right;
    }

    .footer-nav{
        float: left;
        display: block;
    }
}

.forDeveloper{
    background-color: #8a336d;
    padding: 3px;
}

a.developer-link{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

    transition: font-size 0.4s, color;
}

a.developer-link:hover,span.developer-link-name:hover{
    font-size: 22px;
    color: goldenrod;
    transition: font-size 0.4s, color 0.4s;
}
