.contact-major-content{
    padding-top: 15px;
    padding-bottom: 20px;
}

.contact-info-container{
    padding-top: 30px;
    text-align: right;
    transition: padding 0.4s;
}

.call-actions-container{
    padding-bottom: 20px;
}

.address-container{
    margin-top: 10px;
    transition: margin 0.4s;
}

@media(max-width:576px){
    .address-container{
        margin-top: -10px;
        transition: margin 0.4s;
    }

    .contact-major-content{
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

@media(max-width: 1200px){
    .contact-info-container{
        padding-top: 30px;
        text-align: center;
        transition: padding 0.4s;
    }

    .contact-major-content {
      padding-top: 30px;
    }
}

.footer-margin{
    margin-top: 200px;
    transition: margin 0.6s;
}

@media(max-width:1200px){
    .footer-margin{
        margin-top: 0px;
        transition: margin 0.6s;
    }
}

iframe{
    height: 450px;
    transition: all 0.4s;
    margin-top: -10px;
}

@media(max-width:576px){
    iframe{
        height: 300px;
        transition: all 0.4s;
    }
}

.additional-contact-container{
    padding-top: 20px;
    padding-bottom: 0px;
}
